.marathon-01 { background-image: url('../../assets/marathon-01.png'); }
.marathon-02 { background-image: url('../../assets/marathon-02.png'); }
.marathon-03 { background-image: url('../../assets/marathon-03.png'); }